<div class="footer row g-0 align-items-center text-center justify-content-between" style="background-color: #597167; color: #F2EFE1">
	<div class="col">
		Quai Antique <br>
		<p></p>
		123 rue des soleils <br>
		73000 Chambery <br>
		<p></p>
		04 01 02 03 04 <br>
		quai-antique@example.com <br>
	</div>
	<div class="col">
		{% include "_partials/_nav.html.twig" %}
	</div>
	<div class="col">
	{{ render(controller(
	'App\\Controller\\OpeningHoursController::displayHours'
	)) }}
	</div>
	<div class="row text-center">
		<a href="{{ path('app_legal_notice') }}" class="font-green">Mentions légales</a>
	</div>
</div>