<h1>Bonjour! Peux-tu confirmer ton adresse e-mail</h1>

<p>
    S'il te plait, cliques sur le lien ci-dessous pour confirmer ton adresse e-mail: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci beaucoup!
</p>
