{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container-fluid mb-3">
    <h1>Accueil</h1>
    <div class="row justify-content-center">
        {% for picture in pictures %}
            <div class="col-md-3 d-flex">
                <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" title="{{picture.title}}" alt="{{picture.title}}" class="img-fluid">
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
