{% extends 'base.html.twig' %}

{% block title %}Réserver une table{% endblock %}

{% block body %}
    <div class="container-fluid ">
        <h1 class="text-center">Réservation</h1>
<<<<<<< HEAD
            <div class="row justify-content-center">
                
=======
            <div class="d-flex justify-content-center">
                {{form_start(bookingForm) }}
                    {{ form_widget(bookingForm) }}
                {{form_end(bookingForm) }}
>>>>>>> parent of 41bfac6 (Create opening hours file, max customers file, create booking form)
            </div>
    </div>
    
</div>
{% endblock %}
