{% extends 'base.html.twig' %}

{% block title %}Réserver une table{% endblock %}

{% block body %}
    <div class="container-fluid ">
        <h1 class="text-center">Réservation</h1>
            <div class="d-flex justify-content-center">
                {{form_start(bookingForm) }}
                    {{ form_widget(bookingForm) }}
                {{form_end(bookingForm) }}
            </div>
    </div>
    
</div>
{% endblock %}
