{% extends 'base.html.twig' %}

{% block title %}Réservation enregistrée{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col text-center">
            <h2>Votre réservation a été enregistré avec succès!</h2>
            <p>Pour toute modification, veuillez appeler le 04 01 02 03 04.</p>
        </div>
    </div>
</div>
    
{% endblock %}
